body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 17px;
   line-height: 1.6;
}

.button{
   background-color: coral;
   padding: 1em 2em;
   border: none;
   color: #fff;
}

.button:hover{
   background-color: #333333;
}

.modal{
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0,0,0,0.5);
}

.modal-content{
   background-color: #f4f4f4;
   margin: 20% auto;
   width: 70%;
   box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
   animation-name: modalopen;
   animation-duration: 1s;
}

.modal-header h2, .modal-footer h3{
   margin: 0;
}

.modal-header{
   background-color: lightseagreen;
   padding: 15px;
   color: #fff;
}

.modal-body{
   padding: 10px 20px;
}

.modal-footer{
   background-color: lightseagreen;
   padding: 10px;
   color: #fff;
   text-align: center;
}

.closeBtn{
   color: #fff;
   float: right;
   font-size: 30px;
   padding: 10px;
   cursor: pointer;
}

 .closeBtn:hover, .closeBtn:focus{
    color: #000;
    text-decoration: none;
 }

 @keyframes modalopen{
    from{
       opacity: 0;
    }to{
       opacity: 1;
    }
 }
